<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport"/>
    <title>服务器信息浏览</title>
    <link th:href="@{/components/element-plus/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/loading.css}" rel="stylesheet">
</head>
<body>

<div id="app" un-cloak>

</div>
</body>

<!-- unocss 原子样式 https://unocss.jiangruyi.com -->
<script th:src="@{/components/unocss/runtime.js}"></script>
<!-- vue3 https://cn.vuejs.org -->
<script th:src="@{/components/vue3/index.js}"></script>
<!-- 加载vue3-sfc-loader https://gitcode.com/gh_mirrors/vu/vue3-sfc-loader -->
<script th:src="@{/components/vue3-sfc-loader/index.js}"></script>
<!-- less 依赖 https://less.bootcss.com -->
<script th:src="@{/components/less/index-v4.js}"></script>
<!-- element-plus https://element-plus.org/zh-CN -->
<script th:src="@{/components/element-plus/index.js}"></script>
<!-- element-plus 图标 -->
<script th:src="@{/components/element-plus/icons.js}"></script>
<!-- element-plus 国际化修改为中文 -->
<script th:src="@{/components/element-plus/zh_cn.js}"></script>
<!-- 使用 vue3-sfc-loader 加载页面样例 -->
<script type="module">

    const {createApp, defineAsyncComponent} = Vue;
    const {loadModule} = window['vue3-sfc-loader'];

    // 必要的参数:
    // vue 用来加载vue的模块，在vue模版中使用如： import { computed, onDeactivated, onMounted, ref } from "vue";
    // element-plus 用来加载element-plus的模块  在vue模版中使用如：import { button } from "element-plus";
    // 自定义的：
    // less 用来加载less的样式解析模块（模版使用了less就需要给定此参数）在vue模版中使用如：<style scoped lang="less"></style>

    const options = {
        moduleCache: {
            vue: Vue,
            "element-plus": ElementPlus,
            less: less
        },

        async getFile(url) {
            return await fetch(url).then(res => {
                if (!res.ok) throw Object.assign(new Error(res.statusText + " " + url), {res});
                return {
                    getContentData: asBinary => asBinary ? res.arrayBuffer() : res.text()
                };
            });
        },

        addStyle(textContent) {
            const style = Object.assign(document.createElement("style"), {textContent});
            const ref = document.head.getElementsByTagName("style")[0] || null;
            document.head.insertBefore(style, ref);
        }
    };

    const tmpPath = "view/index.vue"

    const app = createApp({
        components: {
            'app-component': defineAsyncComponent(() => loadModule(tmpPath, options))
        },
        template: '<app-component></app-component>'
    });

    // 引入ElementPlus组件
    app.use(ElementPlus, {
        locale: ElementPlusLocaleZhCn
    });


    // 引入ElementPlus图标
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
        app.component(key, component);
    }

    app.mount("#app")

</script>
</html>